section {
    margin: 10px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2171ba;
    color: white;
  }

  .delete-icon {
      margin-right: 6px;
  }

.center-checkbox {
    text-align: center !important;
  }

  .checkbox-selection {
    display: flex;
    justify-content: center;
  }

  tr td.checkbox {
    padding: 0;
    margin: 0;
    max-width: 2em;
    text-align: center;
  }

  tr th.checkbox {
    padding: 0;
    margin: 0;
    max-width: 2em;
    text-align: center;
  }

  .span-content {
    display: flex;
    flex-direction: row;
  }

  .space-filler {
    flex: 1 1 auto;
  }

  .space {
    margin: 0 1em;
  }