<section class="groups-wrapper">
    <!-- <p-card *ngFor="let group of groups">
        <p-header>
            <h3>{{group.name}}</h3>
        </p-header>
        <div *ngFor="let user of group.userList">
            {{user}}
        </div>
        <p-footer>
            <p-button (click)="addUserToGroupClick(group.id)" label="Add user"></p-button>
            <p-button [routerLink]="['group',group.id]" label="Edit Group"></p-button>
        </p-footer>
    </p-card>
    <p-card>
        <p-header>
            <i class="pi  pi-plus-circle" style="font-size: 3em"></i>
        </p-header>
        <p-button (click)="addNewGroupClick()" label="Add new group"></p-button>
    </p-card> -->
</section>