<div class="header-row">
    <label class="project-name">Testing<b class="primary">.Center</b></label>
</div>

<a mat-list-item routerLink=".">
    <mat-icon>info</mat-icon>
    <span>About</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>question_answer</mat-icon>
    <span>FAQ</span>
</a>

<a mat-list-item routerLink="privacy-policy">
    <mat-icon>security</mat-icon>
    <span>Privacy Policy</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>bug_report</mat-icon>
    <span>Report a bug</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>email_outline</mat-icon>
    <span>Contact</span>
</a>
