<section>
    <table mat-table [dataSource]="projectDataSource">
        <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary">Select</button>
            </td>
        </ng-container> -->
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Project Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="projectDomain">
            <th mat-header-cell *matHeaderCellDef> Domains </th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let domain of element.projectDomain; last as isLastElement">
                    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">{{ domain.domain }}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editProject(element.id)">
                            <mat-icon matTooltip="Edit Project">edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="createNewTest(element.id,domain.domain)">
                            <mat-icon matTooltip="Create New Test">fiber_new</mat-icon>
                            <span>New Test</span>
                        </button>
                    </mat-menu>

                    <div *ngIf="element.tests.length > 0" class="test-spacing">
                        <strong>Tests:</strong>
                    </div>
                    <div *ngFor="let test of element.tests" class="test-element">
                        <span (click)="runTest(element.id,test.id)">{{ test.name }}</span>
                    </div>

                    <hr *ngIf="!isLastElement">
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary">Select</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            (click)="selection.toggle(row)">
        </tr>
    
    </table>
</section>  
