<mat-nav-list>
  <div class="header-row mb-2 mt-1">
    <div class=" text-center"><b>{{project.name}}</b></div>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="['project',project.id,'tests']">
    <mat-icon>info</mat-icon>
    <span>Test</span>
  </a>

  <a mat-list-item routerLink=".">
    <mat-icon>question_answer</mat-icon>
    <span>Test Flow</span>
  </a>

  <a mat-list-item [routerLink]="['project',project.id,'edit']">
    <mat-icon>security</mat-icon>
    <span>Settings</span>
  </a>
</mat-nav-list>
