<button (click)="sendClick()" mat-raised-button color="primary">Start Test</button>
<table id="actionTable" class="table-wrapper">
  <thead class="table-thead">
    <tr>
      <th>Action</th>
      <th>Path</th>
      <th>Value</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="table-tbody">
    <tr *ngFor="let item of commandsRender;let index=index">
      <td class="minW65">
        {{item.action}}
      </td>
      <td class="minW65">
        {{item.path}}
      </td>
      <td class="minW65">
        {{item.value}}
      </td>
      <td class="">
        <div *ngIf="item.imagePath==null">
          {{item.status}}
          <div [ngSwitch]="item.status">
            <span *ngSwitchCase="'inprogress'">
              <mat-spinner class="zoom05"></mat-spinner>
            </span>
            <span *ngSwitchCase="'done'">
              <mat-icon color="success">done</mat-icon>
            </span>
            <span *ngSwitchCase="'failed'">
              <mat-icon>error</mat-icon>
            </span>
            <span *ngSwtichDefault>Unknown</span>
          </div>
        </div>
        <div *ngIf="item.imagePath!=null">
          <img class="img-thumbnail" src="{{item.imagePath}}" alt="">
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- <mat-expansion-panel *ngFor="let row of commandsRender">
    <mat-panel-title>
      {{row.action}}
    </mat-panel-title>
    <mat-panel-description>
      <div class="pull-left">
        <span>
          {{row.path}}
        </span>
        <span>
          {{row.value}}
        </span>
      </div>
      <div class="pull-right">
        <div *ngIf="row.imagePath==null">
          {{row.status}}
          <div [ngSwitch]="row.status">
            <span *ngSwitchCase="'inprogress'">
              <mat-spinner class="zoom05"></mat-spinner>
            </span>
            <span *ngSwitchCase="'done'">
              <mat-icon color="success">done</mat-icon>
            </span>
            <span *ngSwitchCase="'failed'">
              <mat-icon>error</mat-icon>
            </span>
            <span *ngSwtichDefault>Unknown</span>
          </div>
        </div>
        <div *ngIf="row.imagePath!=null">
          <img class="img-thumbnail" src="{{row.imagePath}}" alt="">
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <img src="{{row.imagePath}}" alt="">
 </mat-expansion-panel> -->
