<h1 mat-dialog-title>Select Browser Engine</h1>
<div mat-dialog-content>
  <div  *ngIf="browserEngines==null || browserEngines.length==0">
    <mat-card> There is no browser engine available. Please make sure you have browser engine running.</mat-card>
   </div>
  <table *ngIf="browserEngines!=null && browserEngines.length>0" id="actionTable" class="table-wrapper">
    <thead class="table-thead">
      <tr>
        <th>Name</th>
        <th>Connection Id</th>
        <th>Szwagier Type</th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr *ngFor="let item of browserEngines;let i = index">
        <td>
          {{item.name}}
        </td>
        <td class="">
          {{item.connectionId}}
        </td>
        <td class="">
          {{item.szwagierType}}
        </td>
        <td class="">
          <button (click)="selectClick(i)" mat-button>Select</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
