<header *ngIf='showHeader'>
    <app-header (sideToggle) = "sideNav.toggle()"></app-header>
</header>
<mat-sidenav-container class="">
    <mat-sidenav  mode="side" #sideNav>
        <mat-nav-list>
            <app-sidebar></app-sidebar>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-wrapper">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<footer *ngIf='showFooter' class="footer-b">
    <app-footer [ngClass]="footer-b"></app-footer>
</footer>
