mat-icon {
  margin-right: 10px;
}

label.project-name {
  b {
    color: rgb(25, 77, 25)
  }
  font-family: "Abril Fatface", cursive;
  padding: 3px 10px;
  font-weight: bold;
  font-size: large;
  margin-left: 1em;
}

img {
  height: 2em;
  width: 3em;
  margin-right: 2em;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
}
