<h1>Add New Project</h1>
<form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="form-fill">
        <app-text-field formControlName="name" name="name" label="Name"></app-text-field>
        <app-text-field formControlName="description" name="description" label="Description"></app-text-field>
        <app-text-field formControlName="domains" name="domains" label="Domains" extraInfo="Please insert in comma-separated format (e.g., https://www.tc.net)"></app-text-field>
        <!-- <app-text-field formControlName="usersEmail" name="usersEmail" label="Users Email" extraInfo="Please insert in comma-separated format"></app-text-field> -->

        <mat-form-field class="email-chip-list" appearance="outline">
            <mat-label>Users Email</mat-label>
            <mat-chip-list #chipList aria-label="email selection">
                <mat-chip *ngFor="let email of emailAddresses" selected
                        removable (removed)="removeEmail(email)" [color]="emailChipColor">
                    {{ email }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addEmail($event)">
            </mat-chip-list>
            <mat-error *ngIf="formGroup.invalid">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="formGroup.controls.usersEmail.hasError('required')">
                User Email is <strong>required</strong>
        </mat-error>
        </mat-form-field>
    </div>

    <div class="option-buttons">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="accent" [routerLink]="['/project']">Cancel</button>
    </div>
</form>