<mat-card>
        <section class="row">
                <div class="col-md-6">
                        <small> Selected Project:</small>
                        <div class="name-and-button" *ngIf="project != null">
                                <strong>{{project.name}}</strong>
                                <button mat-icon-button color="primary" [routerLink]="['/project']">
                                        <mat-icon aria-hidden="false" aria-label="list">list</mat-icon>
                                </button>
                        </div>
                </div>
                <div class="col-md-6">
                        <small>Selected Szwagier:</small>
                        <div class="name-and-button" *ngIf="szwagier != null"><strong>{{szwagier.name}}</strong>
                                <button mat-icon-button color="primary" (click)="selectSzwagier()">
                                        <mat-icon aria-hidden="false" aria-label="list">list</mat-icon>
                                </button>
                        </div>
                        <span *ngIf="szwagier == null">
                                <button mat-button color="warning" (click)="selectSzwagier()">Select Szwagier</button>
                        </span>
                </div>
        </section>
</mat-card>
<mat-card>
        <table mat-table [dataSource]="projectTest">
                <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element"> <button [routerLink]="['/project',element.id]"
                                        mat-flat-button color="primary">Edit</button> </td>
                </ng-container>
                <ng-container matColumnDef="send test">
                        <th mat-header-cell *matHeaderCellDef> Send Test </th>
                        <td mat-cell *matCellDef="let element"> <button [routerLink]="['/send-test',element.id]"
                                        mat-flat-button color="warn"> Send Test </button> </td>
                </ng-container>
                <ng-container matColumnDef="Show Commands">
                        <th mat-header-cell *matHeaderCellDef> Show Commands </th>
                        <td mat-cell *matCellDef="let element"> <button (click)="showCommands()" mat-flat-button
                                        color="warn"> Show Commands </button> </td>
                </ng-container>
                <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</mat-card>